@using System.Globalization
@model IEnumerable<CustomersView.Models.Products>
@{
    ViewData["Title"] = "Trang chủ";
}

<link rel="stylesheet" href="~/css/productcard.css" asp-append-version="true" />
<section id="product1" class="text-center">
    <div class="pro-container">
    @if (Model != null)
    {
        @foreach (var p in Model)
        {
            <div class="pro" id="@Html.DisplayFor(modelItem => p.Id)">
                <img src="https://www.citizenwatch.com/dw/image/v2/BBQB_PRD/on/demandware.static/-/Sites-citizen_US-Library/default/dw474767b5/homepage-images/hero-images/home-half-hero-mickey-baseball.jpg" alt="" />
                <div class="des">
                    <span>@Html.DisplayFor(modelItem => p.Name)</span>
                    @*<h5>@Html.DisplayFor(modelItem => p.Description)</h5>*@
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div> 
                    @{var newPrice = p.Price;
                    var newerPrice = String.Format("{0:N0}", newPrice);}
                    <h4>@newerPrice VNĐ</h4>
                    <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@p.Id" class="stretched-link"></a>
                </div>
            </div>
        }
    }
    else
    {
        <h1>
            Server error!
        </h1>
        <p>
            Cannot get items from database
        </p>
        @Html.ValidationSummary()
    }
    </div>
</section>