@model IEnumerable<CustomersView.Models.Products>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Items</h1>
    <p>insert item cards here</p>
    @if (Model != null)
    {
        <ul>
            @foreach (var p in Model)
            {
                <li>
                    @Html.DisplayFor(modelItem => p.Id)
                    @Html.DisplayFor(modelItem => p.Name)
                    @Html.DisplayFor(modelItem => p.Description)
                    @Html.DisplayFor(modelItem => p.Price)
                </li>
            }
        </ul>
    }
    @Html.ValidationSummary()
</div>
